html {
  --app-background-color: #3c3c3c;
  background-color: var(--app-background-color);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  max-width: 936px;
  margin: 0 auto;
  color: white;
}
